<body>
    <section id="home">
        <h1 class="h-primary">Welcome to My New Webside</h1>
        <p> Lorem ipsum o repellendus repellat nobis, perspiciatis nam. Voluptates explicabo magni quibusdam aut in optio dolores maiores sapientetis tempore cupiditate dolore quam.</p>
        <p> Lorem ipsum dolor, sit amellat nobis, perspiciatis nam. Voluptates explicabo magni quibusdam aut in optio dolores maiores sapis perspiciatis tempore cupiditate dolore quam.</p>
   
        <button class="btn"> Order Now</button>
    </section>

</body>