<section class="serviece-container">
    <h1 class="h-primary center">Our Services</h1>
    <div id="services">
        <div class="box">
            <img src="./img/food.jpg" alt="">
            <h2 class="h-secondary center">Food Item</h2>
            <p class="center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eum nulla aperiam consequuntur atque. Praesentium, et alias. Facilis eligendi quod accusantium officia nam voluptatum eaque harum. Corporis ipsum dicta pariatur?</p>
        </div>
        <div class="box">
            <img src="./img/food4.jpg" alt="">
            <h2 class="h-secondary center">Food Center</h2>
            <p class="center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eum nulla aperiam consequuntur atque. Praesentium, et alias. Facilis eligendi quod accusantium officia nam voluptatum eaque harum. Corporis ipsum dicta pariatur?</p>
        </div>
        <div class="box">
            <img src="./img/food3.jpg" alt="">
            <h2 class="h-secondary center"> Ordering</h2>
            <p class="center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eum nulla aperiam consequuntur atque. Praesentium, et alias. Facilis eligendi quod accusantium officia nam voluptatum eaque harum. Corporis ipsum dicta pariatur?</p>
        </div>
    </div>
    
</section>